name: Exercice Nouvelle Issue

on:
  issues:
    types: [opened]
        
jobs:
  issue-job:
    runs-on: ubuntu-latest
    steps:
      - name: "Nouvelle issue créée"
        run: " ${{ github.event.issue.title }}"
