name: Learn GitHub Actions - Bats test

on:
  push:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js 20
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install bats globally
        run: npm install -g bats

      - name: Check bats version
        run: bats --version